<h1>Bienvenue sur Suivi Mensurations</h1>

<ul>
  <% @phases.each do |phase| %>
    <li><%= link_to phase.phase_type, phase_path(phase.id) %> - debut: <%= phase.started_date %></li>
  <% end %>
</ul>

<%= link_to '+', new_phase_path %>
